<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<!-- The front controller of this Spring Web application, responsible for handling all application requests -->
	<!-- 
		为SpringMVC中前端控制器加入的配置。
		作用：
		     1>.由url-pattern标签起到的作用：
		           为SpringMVC的前端控制器配置了一个映射路径/,效果是：任何一个请求的url都会
			  请求到这个前端控制器。
			 2>.由load-on-startup标签起到的作用：
			 让SpringMVC的前端控制器, 在Tomcat启动时, 直接执行init方法。
			 3>.由init-param标签起到的作用：
			 让SpringMVC的前端控制器中init方法执行时,得到springmvc.xml
			配置文件的名字,并去读取该配置文件。
	 -->
	<servlet>
		<servlet-name>springDispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:springmvc.xml</param-value>
		</init-param>
		<init-param>
			<param-name>throwExceptionIfNoHandlerFound</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- Map all requests to the DispatcherServlet for handling -->
	<servlet-mapping>
		<servlet-name>springDispatcherServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<!-- 监听器：该监听器会在Tomcat启动时执行其中的方法,
				方法内容便是,让Spring去根据context-param标签
				中声明的配置文件, 进行读写并执行IOC,DI等功能
	 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
</web-app>